---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Importing Minimal Mistakes base styles
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Base body styles
body {
  color: #000000;
  font-family: Avenir, "Avenir", sans-serif;
  line-height: 1.1;
  background-color: rgba(108, 143, 198, 0.2);
  // margin: 0; // Ensure body has no margin
  overflow-x: hidden; // Prevent horizontal scrolling
}

/* Style for the main content to follow */
.main-content {
  max-width: 1500px; // or whatever maximum width you prefer
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; // Optional: add padding on the sides
}
// Styles specific to the "About" page
.page-about {
  background-image: url('/assets/images/SD.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%; // Ensure the div takes full width
}

// Styles for containers with white background
.white-container {
  display: block;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: left;
}


// Media and embeds styles
figure {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1em 0;
}

figure img, figure iframe, figure .fluid-width-video-wrapper {
  margin-bottom: 1em;
}

figure img {
  width: 100%;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

figure > a {
  display: block;
}

@media (min-width: 37.5em) {
  figure.half > a, figure.half > img {
    width: calc(50% - 0.5em);
  }

  figure.half figcaption {
    width: 100%;
  }

  figure.third > a, figure.third > img {
    width: calc(33.3333% - 0.5em);
  }

  figure.third figcaption {
    width: 100%;
  }
}
