---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    color: #000000;
    font-family: Avenir, "Avenir", sans-serif;
    line-height: 1.1;
    background-color: rgba(108, 143, 198, 0.2);
  }
  
  .page-about {
    background-image: url('/assets/images/SD.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .white-container {
    display: inline-block; /* Display as inline block to center horizontally */
    padding: 20px;
    // max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: left; /* Reset text-align for content inside .white-container */
  }

  /* Media and embeds ========================================================================== */

/* Figures and images */
figure { display: -webkit-box; display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: start; align-items: flex-start; flex-wrap: wrap; margin: 1em 0; }
figure img, figure iframe, figure .fluid-width-video-wrapper { margin-bottom: 1em; }
figure img { width: 100%; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
figure > a { display: block; }
@media (min-width: 37.5em) { figure.half > a, figure.half > img { width: calc(50% - 0.5em); } }
figure.half figcaption { width: 100%; }
@media (min-width: 37.5em) { figure.third > a, figure.third > img { width: calc(33.3333% - 0.5em); } }
figure.third figcaption { width: 100%; }

