<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: 'en' }}" class="no-js">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
  {% include head.html %} 
  {% include head/custom.html %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/home.css">
 
</head>
<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
  {% include_cached skip-links.html %}
  {% include_cached browser-upgrade.html %}
  {% include_cached masthead.html %}


<!-- Initial block -->
<div class="initial-block">
  <canvas id="nameCanvas"></canvas>
  <a href="#main-content" class="scroll-down-arrow">↓</a>
</div>
  <!-- Name Animation  -->
    <script src="/assets/js/name_animation.js"></script>
    
<!-- Main Content Section -->
<div id="main-content" class="main-content">
  <div class="initial-content">
    {{ content }}
  </div>

  <div class="second-block">
    <h1 class="large-heading-h1">Interdisciplinary Scientist</h1>
    <h2 class="second-heading-h2">Multisystem Approach</h2>
    <p>My research lies in the intersection between Neuroscience, Data Science, and Human Physiology.</p>
    <a href="#projects" class="projects-button">Projects</a>
  </div>

    <!-- Vendiagram Animation  -->
      <canvas id="vendiagramCanvas"></canvas>
      <script src="/assets/js/vendiagram_animation.js"></script>
      

    <!-- Science Intro Section -->
    <div class="third-block">
      <h2 class="second-heading-h2">Exploring the Heart-Brain Connection</h2>
      <h3 class="sub-heading" style="color: #b6804d;">How Our Heart Influences Our Mind</h3>
      <p>As a Ph.D. student in <strong>Dr. Bradley Voytek's</strong> lab at UC San Diego, I am dedicated to uncovering the intricate relationship between heart function and brain activity. My research focuses on how the heart's signals—particularly the shape of the heartbeat wave and the rhythmic patterns in heartbeats—influence neural dynamics, which are crucial for cognitive processes like memory and attention.</p>
      <p>My goal is to understand how age-related changes in heart signals impact working memory, providing valuable insights into the role of heart health in cognitive function. This research highlights the profound connection between our cardiovascular system and brain performance, offering new perspectives on aging and cognitive health.</p>
    </div>


  <div class="fourth-block">
    <div id="about" class="about-text">
      <h1 class="large-heading-h1">About Me</h1>
      <p><strong>I am a Neuroscience Ph.D. student at UC San Diego</strong> in <strong>Dr. Bradley Voytek's Lab</strong>. My work specializes in:</p>

      <ul>
        <li><strong>Advanced computational methods</strong> to study <span style="color: #b6804d;">heart-brain dynamics</span> in cognitive aging.</li>
        <li>Understanding <strong>nervous system dynamics</strong> and their relation to <span style="color: #b6804d;">brain health</span> and <span style="color: #b6804d;">disease risk</span> across the lifespan.</li>
      </ul>
      
      <p><strong>Key achievements include:</strong></p>
      
      <ul>
        <li><strong>B.S. in Neuroscience</strong> from <strong>UC Santa Barbara</strong>.</li>
        <li>Recipient of the <span style="color: #b6804d;">Morgan Award for Research Promise</span> and a <span style="color: #b6804d;">University Award of Distinction</span>.</li>
      </ul>
      
      <p>Currently, I am advancing my computational expertise to develop innovative tools for <strong>neuroscience</strong> and <strong>cardiovascular research</strong>, aiming to address impactful problems and provide practical solutions.</p>
      
        
      <a href="/assets/pdfs/Fitzgerald_Resume.pdf" download="Fitzgerald_Resume.pdf" class="resume-button">Download Resume</a>
    </div>
    <div class="about-image">
      <img src="assets/images/me_bw_wavy.png" alt="A picture of me">
    </div>
</div>

  
  <div id = "publications" class="fifth-block">
  <div class="publication-title"></div>
    <h1 class="large-heading-h1">Publications</h1>
 
      <ul>
          <li>
            <strong>Fitzgerald</strong>, M. C., Saelzler, U. G., & Panizzon, M. S. (2021). Sex Differences in Migraine: A Twin Study. Frontiers in Pain Research, 2, 113. (<a href=" https://doi.org/10.3389/fpain.2021.766718">paper</a>) 
            </li>
    
            <li>
              <strong>Fitzgerald</strong>, M. C., Pritschet, L., Santander, T., Grafton, S. T., & Jacobs, E. G. (2020). Cerebellar network organization across the human menstrual cycle. Scientific reports, 10(1), 20732. (<a href="https://doi.org/10.1038/s41598-020-77779-4">paper</a>) 
            </li>
          </ul>

        <ul>
          <h3 class="third-heading-h3">Posters & Presentations</h3>
            <li>
              <strong>Fitzgerald</strong>, M. C. & Panizzon, M. S. American Headache Society. "Mechanisms of Sex Differences in Migraine and the Need to Consider Sex as a Variable of Interest". June 2022. [TALK]
              </li>
      
              <li>
                <strong>Fitzgerald</strong>, M. C. & Panizzon, M. S. Organization for the Study of Sex Differences."Hormonal Mechanisms of Sex Differences in Migraine". May 2020. [POSTER]
              </li>
      </ul>

    </div>
  
    <!-- Projects section -->
    <div id="projects" class="sixth-block">
      <div class="projects-title">
        <h1 class="large-heading-h1">Projects</h1>
      </div>

        <!-- Disclaimer Box -->
      <div class="disclaimer-box" style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; padding: 10px; margin-top: 15px; border-radius: 5px;">
    <p><strong>Disclaimer:</strong> Due to ongoing work on a patent application, I am unable to share the source code or provide a link to the GitHub repository for these projects at this time. Thank you for your understanding.</p>
      </div>

      <table class="projects-table">
        <tr>
          <td class="project-title">1. Tool Introduction: Validate our Model and Demonstrate Stability</td>
          <td class="project-blurb">
            <p>This project focuses on introducing and validating a new ECG parameterization tool designed to provide accurate and stable analysis across multiple datasets of healthy individuals. By benchmarking against established datasets, the project aims to demonstrate the stability of waveform shape parameters over time and their relationship with demographic covariates, such as age, sex, and BMI.</p>
          </td>
        </tr>
        <tr>
          <td class="project-title">2. Physiological Relevance: Waveform Shape Parameters and Cardiac Pathologies</td>
          <td class="project-blurb">
            <p>This project explores the physiological relevance of waveform shape parameters by applying the ECG tool to a large open-source dataset. The goal is to identify characteristic ECG features associated with specific cardiac pathologies, such as atrial fibrillation and ventricular tachycardia, and compare these parameters against existing standards, enhancing diagnostic precision.</p>
          </td>
        </tr>
        <tr>
          <td class="project-title"> 3. Time Variance: Probing Variability of Parameters Across Time and Pathologies</h2></td>
          <td class="project-blurb">
            <p>This project investigates the variability of ECG parameters over time within individuals, focusing on how these variations can reveal insights into cardiac pathologies. The research aims to understand the time-varying aspects of ECG parameters, with the potential to detect conditions like arrhythmias.</p>
          </td>
        </tr>
        <tr>
          <td class="project-title">4. Extending ECG Parameterization Toolbox to Mice</td>
          <td class="project-blurb">
            <p>This project focuses on analyzing electrocardiogram (ECG) data from mice to investigate cardiac function and identify potential biomarkers related to cardiovascular diseases. By applying our advanced signal processing toolbox, the research aims to understand the nuances of murine cardiac physiology and how it parallels or diverges from human cardiac patterns. Insights gained from this study could contribute to translational research, bridging the gap between preclinical animal models and human cardiac health.</p>
          </td>
        </tr>

        <tr>
          <td class="project-title">5. Digital Twin: Exploring Brain-Heart Interactions through Signal Modulation</td>
          <td class="project-blurb">
            <p>This project leverages a digital twin model to investigate the interaction between cardiac and neural signals. Using Independent Component Analysis (ICA) to extract ECG components, the ECG signals are then modified with our toolbox and reinjected to observe their impact on neural electroencephalogram (EEG) signals. This approach seeks to reveal how changes in ECG parameters influence neural dynamics, providing deeper insights into brain-heart interactions and enhancing our understanding of these complex physiological processes.</p>
          </td>
        </tr>
      </table>
    </div>

      
    <div id="initiatives" class="sixth-block">
      <div id="Data Science Initiatives" class="sixth-block">
      <div class="projects-title">
        <h1 class="large-heading-h1">Data Science Initiatives</h1>
      </div>


      <table class="projects-table">
        <tr>
          <td class="project-title">NeuroNest: Bridging Data Science and Brain Science</td>
          <td class="project-blurb">
            <p><a href="https://neurohackademy2024.github.io/NeuroNest/index.html">NeuroNest</a> is an innovative platform dedicated to the intersection of data science and neuroimaging. It offers accessible and engaging content for individuals interested in brain science, including tutorials, coding snippets, project ideas, and insightful articles on cutting-edge technologies. Built collaboratively with a team of researchers during Neurohackademy at the University of Washington, NeuroNest aims to support learners and researchers at all levels by providing resources that foster continuous learning and collaboration. Contributions include the <a href="https://neurohackademy2024.github.io/NeuroNest/ieeg_info.html">iEEG informational page</a> and a comprehensive <a href="https://colab.research.google.com/drive/1n8J-Nh8vzs2c6YPZ1bYQFnPGGRbrGKQG">tutorial on EEG preprocessing and data visualization</a>, which empower users to enhance their neuroimaging analysis skills.</p>
          </p>
        </tr>
      </table>
    </div>
             <!-- Add the banner image -->
    <div class="banner-image">
      <img src="/assets/images/Neurohackademy.png" alt="Neurohackademy Banner">
      <div class="image-overlay-text">Neurohackademy 2024, University of Washington</div>
    </div>
    
    </div>
  
  {% if site.search == true %}
    <div class="search-content">
      {% include_cached search/search_form.html %}
    </div>
  {% endif %}

</div>
  <div id="footer" class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include_cached footer.html %}
    </footer>
  </div>


{% include scripts.html %}

<!-- Add custom JS for smooth scrolling -->
<script src="/assets/js/scrolling.js"></script>

</body>
</html>