<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
<head>
  {% include head.html %}
  {% include head/custom.html %}
  <style>
    body { font-size: 16px; }
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.2em; }
  </style>
</head>
<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
  {% include_cached skip-links.html %}
  {% include_cached browser-upgrade.html %}
  {% include_cached masthead.html %}
  <div class="initial-content">
    <div class="white-container">
      <video id="myAnimation" loop muted playsinline style="max-width: 100%; height: auto;">
        <source src="/assets/videos/accelerated_heartbeat.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {{ content }}
    </div>
    <!-- Video Embedding -->
   
   
  </div>
  {% if site.search == true %}
    <div class="search-content">
      {% include_cached search/search_form.html %}
    </div>
  {% endif %}
  <div id="footer" class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include_cached footer.html %}
    </footer>
  </div>
  {% include scripts.html %}
  <!-- JavaScript for Scroll-triggered Video Play -->
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    var observer = new IntersectionObserver(function(entries) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          entry.target.play();
        }
      });
    }, { threshold: 0.5 });

    var video = document.getElementById('myAnimation');
    observer.observe(video);
  });
  </script>

</body>
</html>
